<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Docs</title>
    <style>
        body{
            background-color: rgb(34, 21, 70);
        }
        .go-home{
            font-weight: bold;
            margin-top: 40vh;
            margin-left:10% ;
            width: 70%;
            height: 2rem;
            background-color: rgb(136, 255, 0);
            color: rgb(0, 0, 0);
            border: none;
            border-radius: 10%;
        }
    </style>
</head>
<body>
    <form action="/create" method="POST">
        <input type="text" name="input" id="">
        <button type="submit">Submit</button>
    </form>
    <form action="/homeRedirect" method="GET">
        <button class="go-home" type="submit">Go Home</button>
    </form>
</body>
</html>